{% extends "base.html.twig" %}

{% block container %}

    <h1>Mes articles | <a href="{{ path('app_article_new') }}" class="btn btn-sm btn-success">Créer un nouvel article</a></h1>
    <hr>
    
{% endblock %}