{% extends "base.html.twig" %}

{% block container %}

    <h1>Nouvel article | <a href="{{ path('article') }}" class="btn btn-sm btn-success">Retour aux articles</a></h1>
    
    <div class="row">

    </div>
    
{% endblock %}