{% extends "base.html.twig" %}

{% block container %}

    <h1>Nom</h1>
    <hr>

    <p>{{ article.content }}</p>

    <a href="{{ path('app_article') }}" class="btn btn-sm btn-primary">Retour aux articles</a>

{% endblock %}