{% extends "base.html.twig" %}

{% block container %}

    <h3>Accueil</h3>
    <h4>Bonjour {{ app.user.username }}</h4>
    <p>Retrouvez les dernières recettes mises en ligne</p>
    <hr>
    
{% endblock %}